<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Trigger flow calls</title>

	<!-- CSS (load bootstrap from a CDN) -->
	<script src="/js/jquery-2.0.3.min.js"> </script>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<script src="/js/bootstrap.min.js"> </script>
	<link rel="stylesheet" href="/css/lmisstyle.css">
	<style>
		body    { padding-top:50px; }
	</style>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h4>Errors :</h4>
        <div id="error">
			<%= error %>
		</div>
		<div>
			<a href="/index"> Back to home</a>
		</div>
    </div>
</main>

<footer>
    
</footer>

</body>
</html>
